@import "../../_variables.scss";

/* Making the footer work */
#root {
  position: relative;
  min-height: 100vh;
  > #footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    text-align: center;
    > div {
      padding: 0.5rem;
    }
  }
}