@import "../../_variables.scss";

/* Making the footer work */
div#root {
  position: relative;
  min-height: 100vh;
  > #footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    text-align: center;
    > nav {
      padding: 0.5rem;
    }
  }
}

a.social-button {
  display: inline-block;
  min-width: 5rem;
  margin: 1rem;
  padding: 0.75rem;

  border-radius: 20px;
  border: 1px solid $bg-color2;
  background-color: $bg-color2;
  transition: 0.2s;

  font-size: 1.25rem;

  &:hover {
    background-color: $bg-color;
    border: 3px solid $bg-color2;
  }
}
