@import "../../_variables.scss";
$navbar-height: calc(min(15vw, 4rem));

.navbar {
  width: 100%;
  height: $navbar-height;
  background-color: $bg-color2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nav-elements {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a.nav-link {
  display: block;
  height: 100%;
  min-width: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;

  text-decoration: none;
  font-size: 1.5rem;
  transition: ease 0.05s;

  &:hover {
    background-color: $bg-color;
    > .nav-item-contents {
      transform: translate(0, -0.2rem);
    }
  }
}
.nav-item-contents {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin: 0;
  transition: ease-out 0.4s;
}
.home-button a {
  font-style: italic;
}
.nav-link .tooltip {
  font-style: normal;
  font-size: .75em;
  font-family: "Open Sans";
  display: inline-block;
  position: absolute;
  transform: translateY(2.5rem);

  opacity: 0;
  transition: all ease .5s;

}
.nav-link:hover .tooltip {
  transform: translateY(3rem);
  opacity: 1;
}