@import "../../_variables.scss";
$navbar-height: calc(min(15vw, 4rem));

div.navbar {
  width: 100%;
  height: $navbar-height;
  background-color: $bg-color2;
}

nav.nav-elements {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navLink {
  font-size: calc(min(10vw, 3rem) / 2);
  height: 100%;
  transition: ease 0.05s;
  &:hover {
    background-color: $bg-color;
    > .nav-element {
      transform: translate(0, -0.2rem);
    }
  }
}
.nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  margin-left: 5vw;
  margin-right: 5vw;
  transition: ease-out 0.4s;
}
