@import "../../_variables.scss";
$navbar-height: calc(min(15vw, 4rem));

.navbar {
  width: 100%;
  height: $navbar-height;
  background-color: $bg-color2;
  display: flex;
  justify-content: space-between;
}

.nav-elements {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a.nav-link {
  display: block;
  height: 100%;
  width: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  text-decoration: none;
  font-size: 1.5rem;
  transition: ease 0.05s;

  &:hover {
    background-color: $bg-color;
    > .nav-element {
      transform: translate(0, -0.2rem);
    }
  }
}
.nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  margin: 0;
  transition: ease-out 0.4s;
}
.home-button {
  font-style: italic;
}
