@import "../../variables";

.introduction {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 2rem;
  margin-bottom: 4rem;

  text-align: right;

  > .col {
    box-sizing: border-box;
    flex-basis: 50%;
    flex-grow: 1;
  }

  img {
    text-indent: 100%;
    max-width: 85%;
    width: auto;
    min-width: 14rem;
  }

  h1 {
    font-size: 2.25rem;
    background: linear-gradient($accent-color, $accent-color2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .introduction {
    flex-direction: column;
    text-align: center;

    p {
      text-align: center;
    }

    .col:first-child {
      margin-bottom: 2rem;
    }
  }
}

img.profile {
  height: auto;
  overflow: hidden;
  border-radius: 50%;

  background-color: $bg-color2;
  transition: ease-out 0.4s;
  box-shadow: 0px 0px 20px 5px $bg-color2;

  &:hover {
    transform: scale(1.025);
    transform-origin: 50%, 50%;
  }
}

.skills-list {
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

  .skill-item {
    margin-bottom: 1rem;
    width: 24%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > svg {
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .skills-list {
    .skill-item {
      width: 33%;

      > svg {
        font-size: 3rem;
      }
    }
  }
}
