@import "../../variables";

.card-list {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: calc(min(850px, 90vw));
  grid-gap: 0rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-card {
  background-color: $bg-color2;
  width: calc(min(400px, 90%));
  height: 30rem;
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;

  transition: all ease 0.5s;

  > img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px 0px $bg-color;
    margin-bottom: 1rem;
    transition: ease 0.8s;
    z-index: -1;
    background-color: rgb(18, 19, 20);
  }

  &:hover {
    transform: scale(1.05);
    img {
      transform: scale(1.05);
    }
  }
}
.project-card {
  h1,
  h2,
  h3 {
    text-align: center;
  }
  p {
    margin: 1rem;
  }
  hr {
    border-color: $bg-color;
    background-color: $bg-color;
  }
}
