@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
$bg-color: rgb(40, 45, 52);
$bg-color2: rgb(31, 36, 40);
$text-color: rgb(255, 255, 255);
$light-font-color: rgb(175, 175, 175);
