:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color: rgb(41, 53, 63);
    --bg-color2: rgb(30, 36, 45);
    --text-color: rgb(255,255,255);
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: var(--text-color);
}
h1 {
    text-align: center;
}