@import 'variables';

/* Base Styling  */
body {
  background-color: $bg-color;
  color: $text-color;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* Give links a code font */
  text-decoration: none;
  color: $text-color;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Layout Styling  */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-size: 1.25rem;
  min-height: 80vh;
  > div {
    width: 80%;
  }
}

.info-box {
  border-radius: 2rem;
  background-color: $bg-color2;
  padding: 1.5rem;
  transition: ease 0.5s;
  &:hover {
    transform: scale(1.03);
    transform-origin: 50%, 50%;
    img:hover {
      transform: scale(1.025);
      transform-origin: 50%, 50%;
    }
  }
}

/** Content Styling **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
h1 {
  text-align: center;
}
h1,
h2,
h3 {
  font-family: Montserrat;
  margin-left: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
hr {
  width: auto;
  height: 0;
  border: 0.2rem solid $bg-color2;
  border-radius: 15px;
}
ul {
  padding-left: 1.5rem;
  > li {
    padding-bottom: 0.25rem;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  max-width: calc(min(100%, 25rem));
  border-radius: 2rem;
  transition: ease-out 0.4s;
}

/* Home Page Stuff */
.languages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-style: italic;
}
